<h1>Admin Login</h1>
<form method="post" action="/admin/login">
	<label for="username">Username</label>
	<input type="text" id="username" name="username" /><br />
	<label for="content">Password</label>
	<input type="password" id="password" name="password" /><br />
	<input type="submit" value="Login!" />
</form>