body {
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	font-size: 0.9em;
}

#Body {
	margin: 10px auto;
	width: 750px;
}

p {
	margin: 5px 0;
}

a, a:visited {
	color: #0044AA;
}

a:hover {
	text-decoration: none;
}

#Body h1 {
	font-size: 20px;
	margin: 8px 0;
}

#Body h1 a, #Body h1 a:visited {
	color: #000000;
	text-decoration: none;
}

#Header h1 {
	font-size: 26px;
}

#Info {
	font-size: 10px;
	text-align: right;
	margin-top: 10px;
	color: #999;
}

#Post {
	padding: 5px 2px;
	margin: 2px 0;
	margin-bottom: 40px;
}

#Post h1 {
	
}

#Content {
	margin-top: 20px;
	padding-left: 30px;
}

#Footer {
	font-size: 10px;
}

#WrapContent {
	float: left;
	width: 600px;
}

#Sidebar {
	float: left;
	width: 100px;
	margin-top: 50px;
	padding-right: 50px;
}

#Sidebar ul {
	text-align: right;
	list-style-type: none;
	padding-left: 0;
}

#Sidebar li {
	margin: 7px 0;
}

#Sidebar ul a {
	padding: 3px 5px 2px;
	text-decoration: none;
	color: #999999;
	border-radius: 3px 3px 3px 3px;
}

#Sidebar ul a:hover {
	background-color: #EEEEEE;
}

label {
	float: left;
	display: block;
	width: 100px;
}

#PostListing ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#PostListing li {
	display: block;
	border-bottom: dotted 1px black;
	padding: 4px 3px;
	margin: 3px 0px;
}

#Pagination {
	text-align: center;
	font-size: 12px;
}

#Comments {
	margin-top: 20px;
	border-top: solid 1px #D7D7D7;
}

#Comment {
	margin-bottom: 30px;
}

#Comment #Meta {
	font-size: 0.9em;
	color: #797979;
}

#Comment #Author {
	color: #339933;
}

#Comment #Number {
	font-weight: bold;
}