<html>
	<head>
		<title>{{#Title}}{{Name}} - {{/Title}}Bloody.go</title>
		<link rel="stylesheet" href="/style.css" />
		<link rel="stylesheet" href="/jquery.cleditor.css">
		<link rel="alternate" type="application/rss+xml" href="/rss" />
		<script src="http://code.jquery.com/jquery-1.6.1.min.js" type="text/javascript"></script>
		<script src="/jquery.cleditor.min.js" type="text/javascript"></script>
		<script src="/jquery.cleditor.xhtml.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="Body">
			<div id="Header">
				<h1><a href="/">Bloody.go</a></h1>
			</div>
			<div id="Sidebar">
				<ul>
					{{#SidePages}}
					<li><a href="/page/{{Slug}}.html">{{Title}}</a></li>
					{{/SidePages}}
					<li><a href="/post/list">Blog Entries</a></li>
				</ul>
			</div>
			<div id="WrapContent">
				{{{Body}}}
			</div>
			<div style="clear: both;"></div>
			<div id="Footer">
				<p>Powered by <a href="https://github.com/TheOnly92/bloody.go">bloody.go</a></p>
			</div>
		</div>
	</body>
</html>