<html>
	<head>
		<title>{{#Title}}{{Name}} - {{/Title}}Blog with Go</title>
		<link rel="stylesheet" href="/style.css" />
		<link rel="stylesheet" href="/jquery.cleditor.css">
		<script src="http://code.jquery.com/jquery-1.6.1.min.js" type="text/javascript"></script>
		<script src="/jquery.cleditor.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="Body">
			<div id="Header">
				<h1>Bloody.go</h1>
			</div>
			{{{Body}}}
		</div>
	</body>
</html>