<h1>List of Your Posts</h1>
<p>[ <a href="/admin/post/new{{#markdown}}?markdown=1{{/markdown}}">New Post</a> <a href="/admin/preferences">Preferences</a> ]</p>
<form method="post">
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; font-size: 13px;">
	{{#posts}}
	<tr>
		<td><input type="checkbox" name="posts[]" value="{{Id}}" /></td>
		<td style="width: 130px">{{Date}}</td>
		<td><a href="/admin/post/edit/{{Id}}">{{Title}}</a>{{#Draft}} - Draft{{/Draft}}</td>
		<td>[ <a href="/admin/post/del/{{Id}}">Del</a> <a href="/admin/post/edit/{{Id}}">Edit</a> ]</td>
	</tr>
	{{/posts}}
</table>
<p>Action:
	<select name="action">
		<option value=""></option>
		<option value="delete">Delete</option>
		<option value="publish">Publish</option>
	</select>
	<input type="submit" value="Go!" />
</p>
</form>